@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Rajdhani&display=swap');
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

}

/* Global */
h3 {
    margin: 0;

}

/* Header */

header {
    min-height: 60px;
    margin: 0;
    padding: 0;
}

header .logo {
    float: left;
    padding: 20px;
    
}

.logo img {
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

nav {
    display: none;
}

.dropdown {
    float: right;
    padding: 20px;
    
}
label {
    display: block;
    cursor: pointer;
    position: relative;
    background: url('images/menu-icon.png') no-repeat center;
    background-size: 100% 100%;
    padding: 15px;
    width: 20px;
    text-indent: -99999px;

}

input#menu {
    display: none;
}

/* Menu Toggle */
input:checked ~ label {
    display: block;
    cursor: pointer;
    position: relative;
    background: url('images/menu-close.png') no-repeat center;
    background-size: 100% 100%;
    padding: 15px;
    width: 20px;
    text-indent: -99999px;
    z-index: 2;
    position: fixed;
    right: 5%;
}

input:checked ~ .dropdown-content {
    max-height: 100%;
    display: block;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 1s ease;
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    width: 60vw;
    padding-left: 20vw;
    background-color: white;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 5px;
    color: black;

}

.hr-menu {
    width: 75%;
    float: left;
}

/* Main Section */
.landing {
    margin: 0;
    padding: 0;
    background: url('images/main-image2.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}


.main-container, .resume-container, .contact-container {
    text-align: center;
    margin-top: 20vh;

}

#main h1, #resume-main h1, #contact-main h1 {
    color: white;  
    text-align: center;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
    padding: 0;

    
}

#main a, #resume-main a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    display: inline-block;
}

/* About */
#about {
    background-color:#f0f0f0;
    padding: 10px;}
#about h2 {font-family: 'Rajdhani', sans-serif;}
#about p {font-family: 'Open Sans Condensed', sans-serif;
font-size: 1.3em;}
#about a {text-decoration: none;}

#about img {
    max-width: 50%;
    height: 187px;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#about, .profile-pic {
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

#about.appear, .profile-pic.appear {
    opacity: 1;
    transform: translateY(0px);
}

/* Resume */
.resume {
    margin: 0;
    padding: 0;
    background: url('images/resume-image.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#resume-local {
    background-color: #f0f0f0;
    padding: 10px;

}
#resume-local h2 {font-family: 'Rajdhani', sans-serif;}
#resume-local h3 {font-family: 'Rajdhani', sans-serif;
padding-left: 20px;}
#resume-local li {font-family: sans-serif;}
#resume-local a {text-decoration: none;}

/* Contact */
.contact {
    margin: 0;
    padding: 0;
    background: url('images/contact-image.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact h2 {
    color: white;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;

}

.contact-container img {
    width: 50px;
}
a.contact {
    margin-right: 10px;
}

/* Media Queries */

@media screen and (min-width: 1024px) {
    .dropdown {
        display: none;
    }
    header nav {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        
    }
    nav ul {
        list-style: none;
        margin-right: 100px;
        margin-top: 30px;
    }
    nav li {
        display: inline-block;
        margin-right: 50px;
    }
    nav li a {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    }
}

.landing, .resume, .contact {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0deg);
    }
}